<!DOCTYPE html>
<html>

<head>
	<title>Contacts</title>

    <% include partials/head.ejs %>
	<!-- Header with meta tags and references -->



</head>

<body class="w3-light-grey">


<% include partials/nav.ejs %>

<!-- Top container -->
<!-- Sidebar/menu -->
<!-- Overlay effect when opening sidebar on small screens -->


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

	<header class="w3-container" style="padding-top:22px">
		<h5><b><i class="fa fa-dashboard"></i> Contacts</b></h5>
	</header>







	<form class="lightbox">
		<div class="form-header"> <h2>New Contact</h2></div>
		<div class="form-container">


			<div class="form-row">
				<div class="form-group col-sm-6">
					<label for="inputFirstName">First Name</label>
					<input type="text" class="form-control" id="inputFirstName" name="FirstName" placeholder="First Name">
				</div>
				<div class="form-group col-sm-6">
					<label for="inputLastName"> <span class="required-input">*</span>Last Name</label>
					<input type="text" class="form-control" id="inputLastName" name="LastName" placeholder="Last Name">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-6">
					<label for="inputTitle">Title</label>
					<input type="text" class="form-control" id="inputTitle" name="Title" placeholder="Title">
				</div>
				<div class="form-group col-sm-6">
					<label for="inputAccount">Account</label>
					<input type="text" class="form-control" id="inputAccount" name="Account" placeholder="Account">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-6">
					<label for="inputPhone">Phone number</label>
					<input type="text" class="form-control" id="inputPhone" name="Phone" placeholder="Phone">
				</div>
				<div class="form-group col-sm-6">
					<label for="inputEmail">Email</label>
					<input type="text" class="form-control" id="inputEmail" name="Email" placeholder="Email">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-6">
					<label for="inputAddress">Address</label>
					<input type="text" class="form-control" id="inputAddress" name="Address" placeholder="Address">
				</div>
				<div class="form-group col-sm-6">
					<label for="inputCity">City</label>
					<input type="text" class="form-control" id="inputCity" name="FirstName" placeholder="City">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-6">
					<label for="inputState">State/County</label>
					<input type="text" class="form-control" id="inputState" name="State" placeholder="State/County">
				</div>
				<div class="form-group col-sm-2">
					<label for="inputZip">Zip Code</label>
					<input type="text" class="form-control" id="inputZip" name="Zipcode" placeholder="Zip">

				</div>
				<div class="form-group col-sm-4">
					<label for="inputCountry">Country</label>
					<input type="text" class="form-control" id="inputCountry" name="Country" placeholder="Country">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-12">
					<label for="inputDescription">Description</label>
					<textarea class="form-control" rows="3" id="inputDescription" name="Description"></textarea>
				</div>

			</div>
			<div class="form-row">
				<div class="form-group col-sm-2">
					<button type="button" class="btn btn-primary" onclick="postContact()">Submit</button>
				</div>

			</div>
		</div>
	</form>







	<div class="w3-container">
		<button class="w3-button w3-dark-grey add-button" data-featherlight=".lightbox">Add Contact &nbsp;<i class="glyphicon glyphicon-plus"></i></button>
		<button class="w3-button w3-dark-grey delete-button" onclick="deleteContacts()">Delete  <i class="glyphicon glyphicon-minus"></i></button>

		<div class="w3-animate-left table-responsive">
			<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white" id="contact-table-container">
				<thead>
				<th><input type="checkbox" class="selectAll"></th>
				<th>Name</th>
				<th>Title</th>
				<th>Account</th>
				<th>Phone</th>
				<th>Email</th>
				</thead>
                <% for(i=0;i<contacts.contact.length;i++){  %>
				<tr>
					<td><input type="checkbox" value="<%= contacts.contact[i].Id%>" class="inputID"></td>
					<td><a href="/contact/<%=contacts.contact[i].Id%>"><%= contacts.contact[i].FirstName + " " + contacts.contact[i].LastName %></a></td>
					<td><%= contacts.contact[i].Title %></td>
					<td><%= contacts.contact[i].Account %></td>
					<td><%= contacts.contact[i].Phone %></td>
					<td><%= contacts.contact[i].Email %></td>
				</tr>
                <% } %>

			</table>
		</div>

	</div>



    <% include partials/footer.ejs %>
	<!-- Footer -->


</div>

<script>

    $(document).ready(function() {

        //Highlights contacts button when active
        $('#contacts-button').addClass('w3-blue');
    });
</script>
<script src="/js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>