<!DOCTYPE html>
<html>

<head>
	<title>Contacts</title>

    <% include partials/head.ejs %>
	<!-- Header with meta tags and references   -->


	<style>

		.contact-container{
			margin-left: 4%;
			width: 91.66666%;

		}

		@media (max-width: 500px){
			.contact-container {
				margin-left: 0.5%;
				margin-right: 0.5%;
				width: 99%;
			}
		}

		.contact-container .contact-label{
			display: inline-block;
			color: rgb(112, 110, 107);
			font-size: .80rem;
			line-height: 1.5;
			margin-right: .75rem;
			margin-bottom: .125rem;

		}

		.contact-container .contact-data{
			font-weight: 600;
			color: rgb(43, 40, 38);
			font-size: 1.2rem;
		}
		.contact-container .col-xs-6 {
			width: 40%;
			margin-left: 10%;
		}

		@media screen and (max-width: 340px){
			.contact-container form-row{
				width: 90%;
				margin-left: 10%;
			}
		}
		.horizontal-line{
			border-top: 1.5px solid rgb(221, 219, 218);
			margin-top: 4%;

		}

	</style>

</head>

<body class="w3-light-grey">


<% include partials/nav.ejs %>

<!-- Top container -->
<!-- Sidebar/menu -->
<!-- Overlay effect when opening sidebar on small screens -->


<!-- !PAGE CONTENT!   -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;" >

	<header class="w3-container" style="padding-top:22px">
		<h5><b><i class="fa fa-dashboard"></i> Contact </b></h5>
	</header>





	<div class="w3-container w3-col m11 contact-container">
		<div class="w3-card w3-round w3-white">
			<div class="w3-container">
				<h4 class="w3-center"><%= contact.FirstName + " " + contact.LastName %></h4>

				<div class="horizontal-line">
					<div class="form-row">
						<div class="form-group col-xs-6">
							<div>
								<div class="contact-label">First Name</div>
								<div class="contact-data"><p><%= contact.FirstName %></p></div>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<div class="contact-label">Last Name</div>
							<div class="contact-data"><p><%= contact.LastName %></p></div>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-xs-6">
							<div>
								<div class="contact-label">Job Title</div>
								<div class="contact-data"><p><%= contact.Title %></p></div>
							</div>
						</div>
						<div class="form-group col-xs-6">
							<div class="contact-label">Account working for</div>
							<div class="contact-data"><p><%= contact.Account %></p></div>
						</div>
					</div>
				</div>


					<div class="form-row">
						<div class="form-group col-xs-6">
							<div class="contact-label">Phone number</div>
							<div class="contact-data"><p><%= contact.Phone %></p></div>
						</div>
						<div class="form-group col-xs-6">
							<div class="contact-label">Email</div>
							<div class="contact-data"><p><%= contact.Email %></p></div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-xs-6">
							<div class="contact-label">Address</div>
							<div class="contact-data"><p><%= contact.Address %></p></div>
						</div>
						<div class="form-group col-xs-6">
							<div class="contact-label">City</div>
							<div class="contact-data"><p><%= contact.City %></p></div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-xs-6">
							<div class="contact-label">State/County</div>
							<div class="contact-data"><p><%= contact.State %></p></div>
						</div>
						<div class="form-group col-xs-2">
							<div class="contact-label">Zip code</div>
							<div class="contact-data"><p><%= contact.Zipcode %></p></div>
						</div>
						<div class="form-group col-xs-4">
							<div class="contact-label">Country</div>
							<div class="contact-data"><p><%= contact.Country %></p></div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-xs-12">
							<div class="contact-label">Description</div>
							<div class="contact-data"><p><%= contact.Description %></p></div>
						</div>
					</div>


			</div>
		</div>
	</div>




    <% include partials/footer.ejs %>
	<!-- Footer -->


</div>

<script>

    $(document).ready(function() {

        //Highlights contacts button when active
        $('#contacts-button').addClass('w3-blue');
    });
</script>
<script src="/js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>