<!DOCTYPE html>
<html>

<head>
    <title>Account</title>

    <% include partials/head.ejs %>
    <!-- Header with meta tags and references   -->
</head>

<body class="w3-light-grey">


<% include partials/nav.ejs %>

<!-- Top container -->
<!-- Sidebar/menu -->
<!-- Overlay effect when opening sidebar on small screens -->


<!-- !PAGE CONTENT!   -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;" >

    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> Account </b></h5>
    </header>





    <div class="container record-container">


        <h4 class="w3-center"><span class="fa fa-bank fa-fw record-icon"></span><%= account.AccountName %></h4>

        <div class="col-xs-12"><hr class="horizontal-line" /></div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-4 control-label">Account Name:</label>
                    <div class="col-xs-8 controls"><%= account.AccountName %></div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-4 control-label">Industry:</label>
                    <div class="col-xs-8 controls"><%= account.Industry %></div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-4 control-label">Number of Employees</label>
                    <div class="col-xs-8 controls"><%= account.Employees %></div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-4 control-label">Annual Revenue</label>
                    <div class="col-xs-8 controls"><%= account.Revenue %></div>

                </div>
            </div>




            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-4 control-label">Phone</label>
                    <div class="col-xs-8 controls"><%= account.Phone %></div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-4 control-label">Website</label>
                    <div class="col-xs-8 controls"><%= account.Website %></div>

                </div>
            </div>

            <div class="col-xs-12"><hr class="horizontal-inline" /></div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-4 control-label">Address:</label>
                    <div class="col-xs-8 controls">
                        <%= account.Address %> <%if(account.Address !== ""){%>, <br /><%}%>
                        <%= account.Zipcode %> <%= account.City %><%if(account.City !== ""){%>, <br /><%}%>
                        <%= account.State %> <%if(account.State !== ""){%>, <br /><%}%>
                        <%= account.Country %>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-4 control-label">Description</label>
                    <div class="col-xs-8 controls"><%= account.Description %></div>

                </div>
            </div>

        </div>

        <div class="col-xs-12"><hr class="horizontal-inline google-maps" /></div>
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="250" src="https://maps.google.com/maps?hl=en&q=<%= account.Address%> <%= account.City%>&<%= account.Zipcode %> <%= account.State %>& <%= account.Country %>=UTF8&t=roadmap&z=12&iwloc=B&output=embed"></iframe>

    </div>







    <% include partials/footer.ejs %>
    <!-- Footer -->


</div>

<script>

    $(document).ready(function() {

        //Highlights contacts button when active
        //  $('#contacts-button').addClass('w3-blue');
    });
</script>
<script src="/vendor/js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>